<div class="modal fade" tabindex="-1" role="dialog" id="stationMessage">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4>Station Message</h4>
      </div>
      <div class="row modal-body">
        <div class="col-xs-12">
          {{message}}
        </div>
      </div>
      <div class="row modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">DONE</button>
      </div>
    </div>
  </div>
</div>