@import "bootstrap";
@import "ember-side-menu";

$darkBlue: #22313F;
$lighterBlue: #304355;
$red: #F64747;
$font: #444;
$backColour: #efefef;//$darkBlue;
$green: #3EC791;
$navHeight: 4.5em;

/*
// 0 - Modal
// 1 - General
// 2 - Navigation
// 3 - Cards
// 4 - Find
// 5 - Board Search
// 6 - Liked Routes
// 7 - Account
// 8 - Login
// 9 - Register
// 11 - Selected Trains
 */

@mixin inputFields() {
  .form-control {
    height: 4em;
    border-radius: 2px;
    border: none;
    color: $font;
    font-weight: bold;
    font-size: 0.9em;
    &:focus {
      outline: 0;
    }
  }
}

@mixin btn() {
  .btn {
    border-radius: 0.2em;
    border: none;
    background: $red;
    height: 3.5em;
    width: 100%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    color: white;
    text-transform: uppercase;
    &:active {
      background: #FF5859;
    }
    &:focus {
      outline: 0;
      background: #FF5859;
    }
  }
}

@mixin cards() {
  .cards {
    padding-top: 0.5em;
    overflow: auto;
    max-height: 78vh;
    .card {
      background: white !important;
      //margin: 0 auto 1em auto;
      //width: 96%;
      //border-radius: 4px;
      //box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      //transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
      color: #444;
      border-bottom: 1px solid #d8d8d8;
    }
    .card-train {
      min-height: 9em;
      line-height: 2em;
      .icon{
        padding:0 !important;
        margin:0 !important;
        padding-left:11px !important;
      }
      .bad {
        color: $red !important;
      }
      .good {
        color: $green;
      }
      .platform {
        padding: 0.5em 0 0.2em 1.6em;
        font-weight: 600;
        font-size: 0.9em;
      }
      .time {
        font-size: 1.3em;
        font-weight: 600;
        padding: 0em 0 0.3em 0.3em;
        small{
          font-size: 0.6em;
          line-height: 0em;
          display: block;
          width: 130%;
          padding: 1em 0;
          color:$red;
        }
        .chev{
          i{
            margin-top: 0.1em;
            margin-left: -0.1em;
          }
        }
      }
      .status {
        font-weight: bold;
        text-align: right;
        font-size: 0.8em;
        margin-top:-1.5em;
        small{
          color: $font;
        }
      }
      .more{
       text-align:right;
        font-size:1em;
      }
      .destination {
        padding-left: 1.5em;
        font-size: 0.9em;
      }
    }
    .good-border {
      border-left: 5px solid $green;
    }
    .bad-border{
      border-left: 5px solid $red;
    }
    .card-point {
      position:relative;
      box-shadow: none;
      height:5em;
      //margin-bottom:5px;
      .icon {
        line-height: 5em;
      }
      .good{
        color: $green;
      }
      .bad{
        color: $red
      }
      .name{
        margin-top: 0.8em;
        font-size: 0.9em;
        line-height: 4em;
        padding-left: 1em;
        font-weight:bold;
      }
      .time {
        margin-top: 0.9em;
        font-size: 0.9em;
        line-height: 4em;
        padding-left: 2em;
        font-weight: bold;
        p {
          color: $font;
        }
      }
    }
    .card-recommended {
      .no-route {
        margin-top: 1.3em;
        padding-left: 2em;
        font-size: 1em;
        color: #888;
      }
      .icon {
        line-height: 6em;
        color: $red;
      }
      .from-to {
        margin-top: 0.9em;
        font-size: 0.9em;
        line-height: 2em;
        padding-left: 2em;
        color: $font;
      }
      .stations {
        margin-top: 0.9em;
        font-size: 0.9em;
        line-height: 2em;
        p {
          color: $font;
        }
      }
    }
    .card-route {
      .icon {
        line-height: 6em;
        color: $green;
      }
      .remove {
        line-height: 6em;
        color: $red;
      }
      .from-to {
        margin-top: 0.9em;
        font-size: 0.9em;
        line-height: 2em;
        padding-left: 2em;
        color: $font;
      }
      .stations {
        margin-top: 0.9em;
        font-size: 0.9em;
        line-height: 2em;
        p {
          color: $font;
        }
      }
    }
  }
}

/* 0: Modal */
.modal{
  z-index:999999;
}
.modal-backdrop.in{
  z-index:99999;
}
.modal-dialog {
  .close {
    opacity: 1;
    box-shadow: none;
    color: $font;
  }
  .modal-body{
    p{
      color: #232323;
    }
  }
  .modal-content {
    border-radius: 3px;
    color: #444;
    margin-top: 30%;
    h4 {
      text-align: center;
      color: $font;
    }
    .form-control {
      margin: 1em 0;
      border-radius: 2px;
      box-shadow: none;
      border: none;
      height: 4em;
      background: #f3f3f3;
    }
  }
  .messageContent{
    border-radius: 3px;
    color: #444;
    margin-top: 17%;
    max-height: 88vh;
    overflow: scroll;
    font-weight:bold;
    color: $red;
    .btn{
      display: none;
    }
    p{
      font-weight:normal;
    }
  }
  .modal-header {
    border: none;
  }
  .modal-footer {
    border: none;
    text-align: center;
  }
  @include btn;
  .btn-primary {
    background: $lighterBlue;
    border: none;
    box-shadow: none;
    color: white;
    &:focus, &:active {
      background: white;
    }
  }
}
#stationSelect{
  ul{
    margin:0;
    padding:0;
    li{
      list-style: none;
      padding:1em 0;
      font-weight:bold;
      color: $lighterBlue;
    }
  }
}

/* 1: General */
.btn-default{
  border-radius: 0.2em;
  border: none;
  background: #ffffff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  color: #585858;
  text-transform: uppercase;
  font-size: 0.9em;
  &:focus, &:active, &:hover{
    outline:0;
  }
}
.autoComplete{
  position: absolute;
  width: 84%;
  margin-top: 4em;
  z-index: 9999999;
  padding: 0;
  overflow: scroll;
  max-height: 50vh;
  background: white;
  border:1px solid $darkBlue;
  .item{
    list-style: none;
    padding: 1em;
    font-weight: bold;
    font-size: 0.9em;
    margin: 0.5em 0;
    border-radius: 2px;
  }
}
.alert-warning {
  position: fixed;
  top: 0em;
  left: 0;
  width: 100%;
  height: 4.5em;
  margin: 0;
  color: white;
  background: orange;
  border: none;
  border-radius: 0;
  font-weight: bold;
  z-index:9999;
  line-height:2.8em;
  .close {
    padding-top:0.3em;
    opacity: 1;
    box-shadow: none;
    color: white;
  }
}

.datepicker-inline {
  width: 100%;
}

.datepicker table {
  width: 100%;
  tr > td {
    padding: 1em;
  }
  tr td.today {
    background: $lighterBlue !important;
    border: none;
    color: white;
    border-radius: 0;
  }
  tr td.active.active {
    background: $red !important;
    border: none;
    color: white;
    border-radius: 0;
  }
}

.content {
  margin-top: $navHeight - 0.1;
}

.listMessage {
  padding: 2em 1em 1em 1em;
  h5 {
    margin-top: 20%;
    color: $font;
    font-weight: 300;
  }
}

* {
  &:focus {
    outline: 0;
  }
  a {
    &:focus {
      outline: 0;
    }
  }
}

body, html {
  overflow: hidden;
  height: 100vh;
  background: $backColour;
  color: $font;

  //Fixes lag
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}

h5 {
  margin: 0;
  color: white;
  height: 1.3em;
}

*:not(input):not(textarea) {
  -webkit-user-select: none; /* disable selection/Copy of UIWebView */
  -webkit-touch-callout: none; /* disable the IOS popup when long-press on a link */
}

//Fixes gutter issue
.row {
  margin-left: 0px;
  margin-right: 0px;
}

/* 2: Navigation */
.side-menu {
  background: rgba(34, 49, 63, 0.94);
  li.with-icon:active {
    background: rgba(255, 255, 255, 0.27);
  }
  .nav {
    .with-icon {
      padding: 1em;
      color: white;
      line-height: 1.5em;
      p {
        margin: 0 0 10px;
        display: inline;
        position: absolute;
        padding-left: 1em;
        padding-top: 0.1em;
      }
    }
  }
}

.side-menu-toggle {
  padding-left: 1em;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.menuOption{
  i{
    font-size:2em !important;
  }
}
.navbar-nav{
  margin-right:-0.4em;
  i{
    color:white;
  }
  h5 {
    margin-top: 1em;
    margin-right: 0.5em;
  }
}
.navbar-default {
  -webkit-transition: ease-in-out 0.1s;
  background: $lighterBlue;
  border: none;
  height: $navHeight;
  margin: 0;
  .nav {
    li {
      display: inline-block;
      .selected {
        border-bottom: 2px solid white !important;
      }
      a {
        color: white;
        &:hover {
          color: white;
        }
        &:focus {
          outline: 0;
          color: white;
          border: none;
        }
        &:active {
          transform: scale(1.2);
        }
      }
    }
  }
}

/* 3: Cards*/
@include cards;

/* 4: Find */
.find {
  height: 92vh;
  .twitter-typeahead{
    width:100%;
    height:3.2em;
    .tt-open{
      background:white;
      border:1px solid $lighterBlue;
      border-top:none;
      margin-top:0.3em;
      padding:0 1em;
      width:100%;
      .tt-suggestion{
        padding:1em 0;
        &:last-child{
          display:none;
        }
      }
    }
  }
  .listMessage {
    background: url("images/scene.png") top no-repeat;
    background-size: cover;
    height: 52%;
    padding: 1em;
    padding-top: 3em;
    h5 {
      margin: 0;
      color: white;
      font-weight: 300;
      font-size: 1.1em;
    }
    a {
      font-weight: bold;
      margin-top: 1em;
      color: white;
      display: block;
      &:focus, &:active, &:hover {
        text-decoration: none;
        transform: scale(1.2);
      }
    }
  }
  .search {
    background: $darkBlue;
    height: 23em;
    padding: 1.5em 0em;
    .swapStations{
      background: white !important;
      i{
        color:#444;
      }
    }
    .date-time {
      .form-control {
        background: white;
        width: 9em;
        font-size: 11px;
        font-weight: bold;
        float: right;
        box-shadow: none;
        border: none;
        left: 0.5em;
      }
      .input-group-addon {
        background: white;
        border: none;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
        .mdi {
          font-size: 20px;
        }
      }
    }
    label {
      color: white;
      font-weight: 400;
      font-size: 11px;
    }
    .form-group {
      @include inputFields;
      margin: 0;
      padding: 0.5em 1em;
      .input-group {
        width: 100%;
        .form-control {
          height:4em;
          border-radius: 2px;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
          font-size:1em;
        }
        .input-group-addon {
          background: $red;
          color: white;
          border: none;
          border-radius: 0;
          border-top-right-radius: 2px;
          border-bottom-right-radius: 2px;
          width: 4em;
          .mdi {
            font-size: 20px;
          }
        }
      }
    }
    .submit {
      padding: 1em;
      @include btn;
      .buttons {
        margin: 0;
        padding: 0;
      }
      .btn-star {
        background: $green;
        color: white;
        margin: 0 0 0 0.5em;
        width: 90%;
        height: 3.5em;
        line-height: 3.5em;
      }

    }
    small {
      color: white;
      font-size: 9px;
      display: block;
      padding: 0;
      margin: 0;
    }
  }
  .cards-head {
    height: 2em;
    margin-top: 1em;
    padding: 0.5em;
    margin-bottom: 0.5em;
    @include btn;
    .btn-generate {
      height: 2.5em;
      width: 6em;
      margin-top: -1em;
    }
    h5 {
      font-size: 0.8em;
      color: $font;
      font-weight: 400;
      margin-bottom: 1em;
    }
  }
}

/* 5: Board Search*/
.board {
  height: 100vh;
  padding-bottom: 2em;

  @include btn;
  .btn-message {
    height: 2.5em;
    width: 6em;
    margin-top: -0.5em;
  }

  .board-search {
    background: $darkBlue;
    padding: 1.5em 0em 0em 0em;
    position: fixed;
    width: 100%;
    top:0;
    z-index: 99999;
    .col {
      margin: 0;
      padding: 0;
    }
    .type {
      margin-left: 1em;
      width: 90%;
    }
    .form-group {
      @include inputFields;
      margin: 0;
      padding: 0.5em 1em;
      .input-group {
        width: 100%;
        .form-control {
          border-radius: 2px;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }
      }
    }
    .date-time {
      .form-control {
        background: white;
        width: 9em;
        font-size: 11px;
        font-weight: bold;
        float: right;
        box-shadow: none;
        border: none;
        left: 0.5em;
      }
    }
    label {
      color: white;
      font-weight: 400;
      font-size: 11px;
    }
    .submit {
      padding: 1em;
      @include btn;
      .buttons {
        margin: 0;
        padding: 0;
      }
      .btn-star {
        background: $lighterBlue;
        color: white;
        margin: 0 0 0 0.5em;
        width: 90%;
        height: 3.5em;
        line-height: 3.5em;
      }

    }
    small {
      color: white;
      font-size: 9px;
      display: block;
      padding: 0;
      margin: 0;
    }
  }
  .cards {
    height: 61.5vh;
    overflow:scroll;
    margin-top:14.2em;
  }
}

/* 6: Liked Routes*/
.liked {
  overflow-y: scroll;
  height: 100vh;
  padding-bottom: 2em;
  .liked-header {
    background: $darkBlue;
    padding: 1.5em 0em;
  }
  .cards {
    overflow: hidden;
    height: auto;
    margin-top:1em;
  }
}


/* 7: Account*/
.account {
  height: 100vh;
  padding-bottom: 2em;
  background: #f9f9f9;
  .header {
    background: $darkBlue;
    padding: 1.5em 0em;
    h5{
      font-weight:200;
      margin-bottom:3em;
    }
    .image{
      border-radius: 100%;
      height: 5em;
      width: 5em;
      margin: 0 auto;
      position: absolute;
      left: 41.5%;
      top: 3em;
    }
  }
  .input{
    padding: 1em;
    .row{
      margin-top:1em;
    }
    h5{
      margin-top:1em;
      margin-bottom:1em;
      color:$font;
      font-weight:bold;
    }
    .form-group{
      margin:0;
      label{
        font-weight:400;
        font-size:0.9em;
        color: #545454;
      }
      .form-control{
        background: white;
        color:$font;
        height:3.2em;
        border:none;
        border-radius:2px;
      }
    }
    .buttons{
      margin:1em 0 0 0;
      padding:0;
      @include btn();
      .btn-primary{
        background: $darkBlue;
        width:8em;
      }
    }
  }
}

/* 8: Login*/
.login {
  height: 100vh;
  background: $darkBlue;
  padding: 2em 1em;
  .icon{
    color:white;
    text-align: center;
    i{
      font-size:4em;
    }
  }
  .form-group{
    margin:1em 0 0 0;
    label{
      font-weight:400;
      font-size:0.9em;
      color: white;
      margin-top:1.5em;
    }
    .form-control{
      background: white;
      color:$font;
      height:3.5em;
      border:none;
      border-radius:2px;
    }
  }
  .buttons{
    margin:0;
    padding:0;
    margin-top: 1em;
    @include btn();
  }
  a{
    color: white;
    margin-top:2em;
    display: block;
  }
}


/* 9: Register*/
.register {
  height: 94vh;
  background: $darkBlue;
  padding: 2em 1em;
  .uploadImage{
    display: none !important;
  }
  .profilePicture{
    border-radius:100%;
    height:5.37em;
    width:5.37em;
    margin:0 auto;
  }
  .icon{
    color:white;
    text-align: center;
    i{
      font-size:4em;
    }
  }
  .form-group{
    margin:0em 0 0 0;
    overflow-y: scroll;
    height: 19em;
    label{
      font-weight:400;
      font-size:0.9em;
      color: white;
      margin-top:1em;
    }
    .form-control{
      background: white;
      color:$font;
      height:3.5em;
      border:none;
      border-radius:2px;
    }
  }
  .buttons{
    width: 100%;
    @include btn();
    .btn-default{
      margin-top: 1em;
      color: white;
      background: $lighterBlue;
      margin-bottom: 1em;
      &:focus, &:active{
        background: $lighterBlue;
        opacity:0.8;
      }
    }
  }
  a{
    color: white;
    margin-top:2em;
    display: block;
  }
  small{
    padding:0;
    margin-top:1em;
    display: block;
    color:white;
    font-size:0.8em;
    font-weight: 300;
  }
}

/* 10: Results*/
.results{
  overflow-y: scroll;
  height: 100vh;
  padding-bottom: 2em;
  .results-header {
    z-index: 99999999;
    background: $darkBlue;
    padding: 1.7em 0em 1.5em 0em;
    width: 100%;
    top: 0;
    color: white;
    position: fixed;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    h5 {
      -webkit-transition: ease-in 0.4s;
      margin-top: 0.2em;
    }
    a {
      color: white;
    }
    @include btn;
    .btn-message {
      height: 2.5em;
      width: 6em;
      margin-top: 1em;
      position:absolute;
      right:0.5em;
    }

  }
  .cards-head {
    height: 3em;
    margin-top: 1em;
    padding: 0.5em;
    background: $lighterBlue;
  }
  .cards{
    max-height:81.2vh;
    margin-top:4.6em;
  }
}

/* 11: Selected Trains*/
.selectedTrain{
  height: 100vh;
  padding-bottom: 2em;
  .header {
    z-index:99999999;
    background: $darkBlue;
    padding: 1.7em 0em 1.5em 0em;
    width: 100%;
    top:0;
    color:white;
    position:fixed;
    max-height:12.7em;
    min-height: 12.7em;
    @include btn;
    .btn-buy {
      height: 2.5em;
      width: 6em;
      margin-top: 1.5em;
      position: absolute;
      right: 1em;
    }
    h5{
      -webkit-transition: ease-in 0.4s;
      margin-top: 0.2em;
    }
    a{
      color:white;
    }
    .platform{
      font-size: 1em;
      padding:0;
      margin-top:1.1em;
    }
    .delayed{
      color:$red;
      font-size:0.7em;
      font-weight:bold;
    }
    .notDelayed{
      color: $green;
      font-size:0.6em;
      font-weight:bold;
    }
    .times{
      font-size:1.4em;
      padding-left:0.4em;
      margin-top:1em;
      margin-left:1.1em;
      i{
        font-size:1.5em;
      }
    }
  }
  .selected-train{
    color:white;
    margin-top: 12.7em;
  }
  .arrival{
    margin-top: 10.8em;
  }
  .list{
    margin-top:5.5em;
  }
  .cards-head {
    height: 3em;
    padding: 0.5em;
    background: $lighterBlue;
    h5 {
      font-size: 0.8em;
      color: white;
      font-weight: 400;
      padding:0.5em;
    }
  }
  .cards {
    overflow: scroll;
    padding-top: 0em;
    margin-bottom:0.5em;
    height:61vh;

    .panel-default{
      background: none;
      padding: 0;
      margin: 0;
      border: 0;
      color: #444;
      .panel-heading{
        padding:0;
        .panel-title{
          a{
            background: $darkBlue;
            border: none;
            color: #fff;
            display:block;
            width:100%;
            height:100%;
            padding:1em;
          }
          font-size:0.9em;
          i{
            font-size:1.2em;
            position: absolute;
            right: 1em;
          }
        }
      }
      .panel-body{
        border:none;
        padding:0;
        margin:0;
      }
    }
  }
  .previousCards{
    height:61vh;
  }
  .large{
    font-size:1.3em;
    margin:0 !important;
  }
}
