<div class="modal fade" tabindex="-1" role="dialog" id="stationMessage">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4>Station Message</h4>
      </div>
      <div class="row modal-body">
        <div class="col-xs-12">
          <p>From Thursday 14 April until mid-2017, there will be a reduced escalator service at Euston London Underground station. During this time crowd control measures will be in place, please follow staff direction, and allow extra time for your journey. Alternatively please use nearby Kings Cross St Pancras (for the Victoria line and Northern line via Bank) or Warren Street (for the Northern line via Charing Cross).

            During this time the passageway leading from platforms 8-11 at London Euston to Euston London Underground station, will close during busy times. For interchange between these services, customers must go via the National Rail concourse.</p>
        </div>
      </div>
      <div class="row modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">DONE</button>
      </div>
    </div>
  </div>
</div>